@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply dark mode colors globally */
html {
  background-color: #ffffff;
  color: #171717;
}

html.dark {
  background-color: #0a0a0a;
  color: #ededed;
}

body {
  @apply min-h-screen;
}

html.dark body {
  background-color: black !important;
  color: white !important;
}
